# Training
HUGGINGFACE_TOKEN=
WANDB_API_KEY=

# Inference
# Base directories
IMPOSTOR_CACHE_DIR=cache
IMPOSTOR_OUTPUT_DIR=output

# Model checkpoints
IMPOSTOR_DIT_PATH=/workspace/models/diffusion_models/FramePackI2V_HY
IMPOSTOR_VAE_PATH=/workspace/models/vae/diffusion_pytorch_model.safetensors
IMPOSTOR_TEXT_ENCODER1_PATH=/workspace/models/text_encoder/model-00001-of-00004.safetensors
IMPOSTOR_TEXT_ENCODER2_PATH=/workspace/models/text_encoder_2/model.safetensors
IMPOSTOR_IMAGE_ENCODER_PATH=/workspace/models/image_encoder/model.safetensors
IMPOSTOR_LORA_WEIGHT=/workspace/models/loras/impostor-v2-step00000800-state/model.safetensors
IMPOSTOR_LORA_MULTIPLIER=1.0

# Generation parameters
IMPOSTOR_PROMPT=360-degree orbit around the subject, camera rising in a spiral.
IMPOSTOR_VIDEO_SECTIONS=4
IMPOSTOR_FPS=30
IMPOSTOR_INFER_STEPS=15
IMPOSTOR_LATENT_WINDOW=5
IMPOSTOR_BUCKET_RES=640
